:root {
  --color-primary-main: #111113;
  --color-primary-level-1: #000000;
  --color-primary-level-3: #303037;
  --color-primary-opacity-main: #0d0e104d;
  --color-primary-opacity-level-1: #0d0e1099;
  --color-primary-opacity-level-2: #303037b3;
  --color-primary-opacity-level-3: #30303766;
  --color-primary-level-2: #2f2f38;
  --color-secondary-main: #ffffff;
  --color-secondary-level-1: #f8f8f8;
  --color-secondary-opacity-main: #ffffffa6;
  --color-secondary-opacity-level-1: #ffffff33;
  --color-secondary-opacity-level-2: #d7d7d766;
  --color-secondary-level-2: #d7d7d7;
  --color-special-level-1: #f5638a;
  --color-special-level-2: #ab75c4;
  --color-special-level-3: #7c80e9;
  --color-special-opacity-level-1: #f5638a99;
  --color-special-opacity-level-2: #ab75c499;
  --color-special-opacity-level-3: #7c80e999;
  --color-special-opacity-level-4: #ff866099;
  --color-special-level-4: #ff8660;
  --color-transparent: #ffffff00;
  --radius-full: 9999px;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-4xl: 32px;
  --radius-lg: 8px;
  --radius-3xl: 24px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --radius-none: 0px;
  --border-width-0: 0px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-width-8: 8px;
  --border-width-0_5: 0.5px;
  --blur-xl: 24px;
  --blur-3xl: 64px;
  --blur-2xl: 40px;
  --blur-lg: 16px;
  --blur-sm: 8px;
  --blur-xs: 4px;
  --blur-md: 12px;
  --blur-none: 0px;
  --breakpoint-2xl: 1536px;
  --breakpoint-xl: 1280px;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 640px;
  --container-0: 0px;
  --container-3xl: 768px;
  --container-2xl: 672px;
  --container-xl: 576px;
  --container-4xl: 896px;
  --container-lg: 512px;
  --container-md: 448px;
  --container-xs: 320px;
  --container-6xl: 1152px;
  --container-2xs: 288px;
  --container-sm: 384px;
  --container-7xl: 1280px;
  --container-5xl: 1024px;
  --container-3xs: 256px;
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-28: 112px;
  --spacing-32: 128px;
  --spacing-36: 144px;
  --spacing-40: 160px;
  --spacing-44: 176px;
  --spacing-48: 192px;
  --spacing-52: 208px;
  --spacing-56: 224px;
  --spacing-60: 240px;
  --spacing-64: 256px;
  --spacing-72: 288px;
  --spacing-80: 320px;
  --spacing-96: 384px;
  --spacing-2-5: 10px;
  --spacing-3-5: 14px;
  --spacing-1-5: 6px;
  --spacing-0-5: 2px;
  --spacing-px: 1px;
  --font-size-6xl: 60px;
  --font-size-9xl: 128px;
  --font-size-8xl: 96px;
  --font-size-4xl: 36px;
  --font-size-lg: 18px;
  --font-size-3xl: 30px;
  --font-size-xl: 20px;
  --font-size-7xl: 72px;
  --font-size-2xl: 24px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-5xl: 48px;
  --font-size-xs: 12px;
  --font-family-sans: SF Pro Text;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-light: 300;
  --font-weight-thin: 100;
  --font-weight-3xl: 64px;
  --font-weight-xl: 24px;
  --font-weight-none: 0px;
  --font-weight-black: 900;
  --font-weight-bold: 700;
  --font-weight-2xl: 40px;
  --font-weight-lg: 16px;
  --font-weight-normal: 400;
  --font-weight-xs: 4px;
  --font-weight-extrabold: 800;
  --font-weight-md: 12px;
  --font-weight-sm: 8px;
  --font-weight-extralight: 200;
  --font-tracking-wide: 0.4px;
  --font-tracking-widest: 1.6px;
  --font-tracking-tight: -0.4px;
  --font-tracking-wider: 0.8px;
  --font-tracking-normal: 0px;
  --font-tracking-tighter: -0.8px;
  --font-leading-3: 12px;
  --font-leading-4: 16px;
  --font-leading-5: 20px;
  --font-leading-6: 24px;
  --font-leading-7: 28px;
  --font-leading-8: 32px;
  --font-leading-9: 36px;
  --font-leading-10: 40px;
  --topbar-bg: #0d0e1099;
  --topbar-label-state-default: #ffffff;
  --topbar-label-state-hovered: #ffffffa6;
  --topbar-divider-border: #ffffff33;
  --topbar-divider-width: 1px;
  --footer-label-header: #ffffff;
  --footer-label-body: #f8f8f8;
  --footer-bg: #0d0e1099;
  --icon-primary: #ffffff;
  --icon-primary-gradient-level-1: #ffffff;
  --icon-primary-gradient-level-2: #d7d7d7;
  --button-primary-state-default: #2f2f38;
  --button-primary-state-hovered: #303037;
  --button-primary-shared-text: #f8f8f8;
  --button-primary-shared-icon: #f8f8f8;
  --button-shared-radius: 9999px;
  --button-primary-border-state-default-text: #ffffff;
  --button-primary-border-state-default-icon: #ffffff;
  --button-primary-border-state-default-border: #ffffff;
  --button-primary-border-state-default-bg: #ffffff00;
  --button-primary-border-state-selected-text: #f8f8f8;
  --button-primary-border-state-selected-icon: #f8f8f8;
  --button-primary-border-state-selected-bg: #2f2f38;
  --button-primary-border-state-hovered-text: #f8f8f8;
  --button-primary-border-state-hovered-icon: #f8f8f8;
  --button-primary-border-state-hovered-border: #303037;
  --button-primary-border-state-hovered-bg: #303037;
  --button-primary-border-state-selected-hovered-text: #d7d7d7;
  --button-primary-border-state-selected-hovered-icon: #d7d7d7;
  --button-primary-border-state-selected-hovered-bg: #303037;
  --button-special-shared-text: #ffffff;
  --button-special-shared-icon: #ffffff;
  --button-special-state-default-level-1: #f5638a;
  --button-special-state-default-level-2: #ab75c4;
  --button-special-state-default-level-3: #7c80e9;
  --button-special-state-default-level-4: #ff8660;
  --button-special-state-hovered-level-1: #f5638a99;
  --button-special-state-hovered-level-2: #ab75c499;
  --button-special-state-hovered-level-3: #7c80e999;
  --button-secondary-shared-text: #d7d7d7;
  --button-secondary-shared-icon: #ffffff;
  --button-secondary-state-default: #303037b3;
  --button-secondary-state-hovered: #303037;
  --button-secondary-disabled-icon-disabled: #d7d7d766;
  --button-secondary-disabled-disabled: #30303766;
  --badge-color-border: #f8f8f8;
  --badge-color-label: #ffffff;
  --badge-border-radius: 9999px;
  --badge-border-width: 0.5px;
  --card-project-label-title: #ffffff;
  --card-project-label-body: #f8f8f8;
  --card-project-bg: #000000;
  --card-project-radius: 24px;
  --tabs-normal-state-default-label: #ffffffa6;
  --tabs-normal-state-hovered-label: #ffffff;
  --tabs-shared-width: 1px;
  --tabs-shared-radius: 9999px;
  --tabs-shared-bg: #30303766;
  --tabs-shared-border: #ffffff33;
  --tabs-active-state-default-label: #ffffff;
  --tabs-active-state-default-bg: #30303766;
  --tabs-active-state-hovered-label: #ffffff;
  --tabs-active-state-hovered-bg: #0d0e1099;
  --tabs-active-shared-radius: 9999px;
  --bg-primary: #000000;
  --bg-secondary: #111113;
  --shared-label-primary: #ffffff;
  --shared-label-secondary: #ffffffa6;
  --divider-level-1: #f8f8f8;
  --divider-level-2: #ffffff33;
  --divider-level-3: #d7d7d766;
  --card-uxui-bg: #30303766;
  --card-uxui-label-title: #ffffff;
  --card-uxui-label-body: #f8f8f8;
  --card-uxui-radius: 24px;
  --card-uxui-icon-logo-bg: #303037b3;
  --card-uxui-icon-logo-icon: #ffffff;
  --more-color-selected: #ffffff;
  --more-color-default: #303037;
  --more-border: 9999px;
  --chip-bg: #0d0e10;
  --chip-label: #ffffff;
  --chip-icon: #ffffff;
  --chip-border: #ffffff33;
  --checkbox-active-state-default-border: #ffffffa6;
  --checkbox-active-state-default-bg: #0d0e10;
  --checkbox-active-state-selected-bg: #303037;
  --checkbox-active-state-selected-icon: #d7d7d7;
  --checkbox-disabled-state-default-border: #d7d7d7;
  --checkbox-disabled-state-default-bg: #0d0e10;
  --checkbox-disabled-state-selected-bg: #d7d7d766;
  --checkbox-disabled-state-selected-icon: #ffffff;
  --checkbox-shared-radius: 4px;
  --search-shared-color-bg: #0d0e10;
  --search-shared-color-icon: #303037;
  --search-shared-radius: 6px;
  --search-state-default-label: #303037;
  --search-state-default-border: #ffffff33;
  --search-state-hovered-label: #303037;
  --search-state-hovered-border: #d7d7d766;
  --search-state-focused-label: #303037;
  --search-state-focused-typing_word: #ffffff;
  --search-state-focused-border: #d7d7d766;
  --search-state-typing-label: #ffffff;
  --search-state-typing-icon: #ffffff;
  --search-state-typing-border: #d7d7d766;
  --search-state-selected-label: #ffffff;
  --search-state-selected-border: #ffffff33;
  --search-state-selected-hovered-label: #ffffff;
  --search-state-selected-hovered-border: #d7d7d766;
  --search-state-selected-focused-label: #ffffff;
  --search-state-selected-focused-icon: #ffffff;
  --search-state-selected-focused-border: #d7d7d766;
  --dropdown-shared-item-radius: 6px;
  --dropdown-shared-item-color-icon: #ffffff;
  --dropdown-shared-item-color-label: #ffffff;
  --dropdown-shared-item-p-x: 8px;
  --dropdown-shared-item-p-y: 6px;
  --dropdown-item-bg-state-hovered: #ffffff33;
  --dropdown-item-label-state-disabled: #d7d7d766;
  --dropdown-container-color-bg: #0d0e10;
  --dropdown-container-color-border: #ffffff33;
  --dropdown-container-radius: 6px;
  --pagination-shared-color-label: #ffffff;
  --pagination-shared-color-icon: #ffffff;
  --pagination-shared-radius: 6px;
  --pagination-shared-state-hovered: #ffffffa6;
  --pagination-active-bg: #ffffff;
  --pagination-active-label: #0d0e10;
}
